@import url(https://fonts.googleapis.com/css?family=Edu+SA+Beginner);

.waviy {
    position: relative;
  }
.waviy span {
position: relative;
display: inline-block;
margin-right: 10px;
font-size: 40px;
font-family: 'Edu SA Beginner';
color: black;
animation: flip 2s infinite;
animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
0%,80% {
    transform: rotateY(360deg) 
}
}