@import url(https://fonts.googleapis.com/css?family=Tangerine);
@import url(https://fonts.googleapis.com/css?family=Edu+SA+Beginner);


.RecipeApp {
  text-align: center;
  background-color: rgb(248, 244, 184);
}

.RecipeApp-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .RecipeApp-logo {
    animation: RecipeApp-logo-spin infinite 20s linear;
  }
}

.RecipeApp-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.RecipeApp-link {
  color: #61dafb;
}

@keyframes RecipeApp-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header { 
  border: double 1em transparent;
  border-radius: 30px;
  background-image: url('./assets/dessert-03.jpg');
  background-size: contain;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-repeat: 'no-repeat';
  height: 100%;
  /*  background-image: linear-gradient(to bottom, lightsteelblue, hsl(200, 100%, 30%)); 
*/
}

svg {
  display: block;
  font: 13em 'Tangerine';
  width: 960px;
  height: 300px;
  margin: 0 auto;
}

text:nth-child(2) {
  fill: none;
  stroke: black;
  stroke-width: 5px;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 10.5s infinite linear;
}

.text-copy:nth-child(1){
  stroke: #e28a16;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: #da6f0b;
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: #f3440e;
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: #350a66;
  animation-delay: -4s;
}

.text-copy:nth-child(5){
  stroke: #7e0b32;
  animation-delay: -5s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}

.main-site{
  padding: 10px;
}

h2 {
  font-family : "Edu SA Beginner";
  align-items: center;
  justify-content: center;
}